@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

.fotoPerfil {
    box-shadow: 0px 4px 20px rgba(100.9375025331974, 100.9375025331974, 100.9375025331974, 0.15000000596046448);
    border-radius: 500px;
    width: 140px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
}
input[type=file]{
    display: none;
}
#main-container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#main-container h3 {
    text-align: right;
    margin-bottom: -10px;
    font-size: 1.4rem;
    color: rgb(241, 14, 14);
  text-decoration: underline;
}

#main-container h3:hover{
color: blue;
}

#photo{
    height: 1.5rem;
margin-top: 12px;
    cursor: pointer;
    transition: background .3s;
}
#photo:hover{
    background-color: grey;
}
#imgPhoto{
    height: 1.5rem;
margin-top: 12px;
    cursor: pointer;
    transition: background .3s;
}
#imgPhoto:hover{
    background-color: grey;
}


.editarLabel {
    color: rgb(13, 13, 14);
    width: 45px;
    height: 19px;
    position: absolute;
    left: 48%;
    top: 160px;
    font-family: Inter;
    text-align: right;
    font-size: 16px;
    letter-spacing: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Inter;
    color: #323232;
    border: none;
}
input,label{
    display: block;
    width: 100%;
}
input:focus,label:focus{
    outline: none;
}
a{
    color: blue;
}
body{
    padding-top: 5vh;
    background-image: url("../img/fundo.jpg");
    background-size: cover; 
}
 p{
    margin-left: 400px;
    margin-top: 5px;
}
p:hover{
background-color: grey;
}
#main-container{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    border-radius: 10px;
    padding: 25px;
}
.full-box img{
    text-align: center;
}

#main-container h1{
    text-align: center;
    margin-bottom: 0px;
    margin-top: -5px;
    font-size: 1.6rem;
}
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.full-box{
    flex: 1 1 100%;
    position: relative;
}
.full-box textarea{
    border-bottom: 2px solid #323232;
    border-top:2px solid #323232 ;
    border-left: 2px solid #323232;
    border-right: 2px solid #323232;
}
.half-box{
    flex: 1 1 45%;
    position: relative;
}
.spacing{
    margin-right: 2.5%;
}
label{
    font-weight: bold;
    font-size: .8rem;
}
input{
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
}
input:focus{
    border-color: blue;
}

input.deletar{
    border-bottom: none;
    background-color: rgb(224, 31, 31);
    width: 343px;
    height: 51px;
    margin-top: 10px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}  
input.editar{
    border-bottom: none;
    background-color: rgba(0, 74.0000031888485, 173.00000488758087, 1);
    width: 343px;
    height: 51px;
    margin-top: -30px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
input.atualizar{
    border-bottom: none;
    background-color: rgba(0, 74.0000031888485, 173.00000488758087, 1);
    width: 343px;
    height: 51px;
    margin-top: -30px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type="submit"]{
    color: #FFF;
    cursor: pointer;
}

/*Validações*/
.error-validation{
    color: #FF1A1A;
    position: absolute;
    top: 57px;
    font-size: .8rem;
}
.template{
    display:none;
}