
.e151_0 { 
	background-color:rgba(255, 255, 255, 1);
	width:375px;
	height:812px;
	position:absolute;
}
.e385_909 { 
	background-color:rgba(0, 74.0000031888485, 173.00000488758087, 1);
	width:376px;
	height:127px;
	position:absolute;
	left:-1px;
	top:-6px;
}
.e494_623 { 
	width:363px;
	height:207px;
	position:absolute;
	left:6px;
	top:181px;
}
.e488_616 { 
	width:363px;
	height:207px;
	position:absolute;
	left:0px;
	top:0px;
}
.e422_2828 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(183.00000429153442, 207.00000286102295, 255, 1);
	width:363px;
	height:207px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e151_90 { 
	color:rgba(0, 0, 0, 1);
	width:193px;
	height:25.223255157470703px;
	position:absolute;
	left:84px;
	top:9px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e422_2826 { 
	width:348px;
	height:138px;
	position:absolute;
	left:10px;
	top:51px;
}
.e151_86 { 
	width:111px;
	height:135px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei151_86_151_69 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:17px;
	position:absolute;
	left:0px;
	top:118px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.ei151_86_151_74 { 
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:0px;
	top:160px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.i151_86_402_2072 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei151_86_402_2072 { 
	width:110px;
	height:110px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
	background-image:url(../img/rectangle_31.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e151_92 { 
	width:111px;
	height:138px;
	position:absolute;
	left:118px;
	top:0px;
}
.ei151_92_151_69 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:17px;
	position:absolute;
	left:0px;
	top:118px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.i151_92_402_2072 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei151_92_402_2072 { 
	width:110px;
	height:110px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
	background-image:url(../img/rectangle_32.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e151_96 { 
	width:111px;
	height:138px;
	position:absolute;
	left:237px;
	top:0px;
}
.ei151_96_151_69 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:17px;
	position:absolute;
	left:0px;
	top:118px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.i151_96_402_2072 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei151_96_402_2072 { 
	width:110px;
	height:110px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
	background-image:url(../img/rectangle_33.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e494_624 { 
	width:363px;
	height:207px;
	position:absolute;
	left:6px;
	top:436px;
}
.e488_615 { 
	width:363px;
	height:207px;
	position:absolute;
	left:0px;
	top:0px;
}
.e422_2829 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(183.00000429153442, 207.00000286102295, 255, 1);
	width:363px;
	height:207px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e151_105 { 
	color:rgba(0, 0, 0, 1);
	width:250px;
	height:23px;
	position:absolute;
	left:59px;
	top:11px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e422_2827 { 
	width:348px;
	height:138px;
	position:absolute;
	left:6px;
	top:57px;
}
.e151_102 { 
	width:111px;
	height:138px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei151_102_151_69 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:17px;
	position:absolute;
	left:0px;
	top:118px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.i151_102_402_2072 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei151_102_402_2072 { 
	width:110px;
	height:110px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
	background-image:url(../img/rectangle_34.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e151_103 { 
	width:110px;
	height:135px;
	position:absolute;
	left:119px;
	top:0px;
}
.ei151_103_151_69 { 
	color:rgba(0, 0, 0, 1);
	width:110px;
	height:17px;
	position:absolute;
	left:0px;
	top:118px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.i151_103_402_2072 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei151_103_402_2072 { 
	width:110px;
	height:110px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
	background-image:url(../img/rectangle_35.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e151_104 { 
	width:110px;
	height:135px;
	position:absolute;
	left:238px;
	top:0px;
}
.ei151_104_151_69 { 
	color:rgba(0, 0, 0, 1);
	width:110px;
	height:17px;
	position:absolute;
	left:0px;
	top:118px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.i151_104_402_2072 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei151_104_402_2072 { 
	width:110px;
	height:110px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
	background-image:url(../img/rectangle_36.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e488_617 { 
	width:376px;
	height:84px;
	position:absolute;
	left:0px;
	top:735px;
}
.e151_6 { 
	width:376px;
	height:84px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei151_6_466_1091 { 
	background-color:rgba(0, 74.0000031888485, 173.00000488758087, 1);
	width:189px;
	height:78px;
	position:absolute;
	left:0px;
	top:-0.4882621765136719px;
}
.ei151_6_466_1132 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:189px;
	height:78px;
	position:absolute;
	left:189px;
	top:-0.4882621765136719px;
}
.ei151_6_385_1350 { 
	width:37px;
	height:36px;
	position:absolute;
	left:69px;
	top:20.511737823486328px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(../img/home_fill0_wght400_grad0_opsz48_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei151_6_385_1351 { 
	width:34px;
	height:31px;
	position:absolute;
	left:270px;
	top:25.511737823486328px;
	background-image:url(../img/person_fill0_wght400_grad0_opsz48_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e488_618 { 
	width:376px;
	height:127px;
	position:absolute;
	left:-1px;
	top:-6px;
}
.e404_2131 { 
	background-color:rgba(0, 74.0000031888485, 173.00000488758087, 1);
	width:376px;
	height:127px;
	position:absolute;
	left:0px;
	top:0px;
}
.e258_896 { 
	color:rgba(183.00000429153442, 207.00000286102295, 255, 1);
	width:195px;
	height:49px;
	position:absolute;
	left:95px;
	top:63px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
