@media screen and (max-width: 700px) {
    

    .e144_2663 { 
        background-color:rgba(255, 255, 255, 1);
        width:375px;
        height:812px;
        position:absolute;
    }
    .e385_910 { 
        background-color:rgba(0, 74.0000031888485, 173.00000488758087, 1);
        width:376px;
        height:127px;
        position:absolute;
        left:0px;
        top:-6px;
    }
    .e150_991 { 
        width:343px;
        height:473.0001220703125px;
        position:absolute;
        left:15px;
        top:198px;
    }
    .e150_493 { 
        width:343px;
        height:77.0000228881836px;
        position:absolute;
        left:0px;
        top:0px;
    }
    .ei150_493_147_490 { 
        background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
        width:50px;
        height:50px;
        position:absolute;
        left:0px;
        top:0px;
        border-top-left-radius:8px;
        border-top-right-radius:8px;
        border-bottom-left-radius:8px;
        border-bottom-right-radius:8px;
    }
    .ei150_493_147_491 { 
        color:rgba(0, 0, 0, 1);
        width:95px;
        height:19px;
        position:absolute;
        left:66px;
        top:0px;
        font-family:Inter;
        text-align:left;
        font-size:16px;
        letter-spacing:0;
    }
    .ei150_493_147_492 { 
        color:rgba(0, 0, 0, 1);
        width:269px;
        height:17px;
        position:absolute;
        left:66px;
        top:27px;
        font-family:Inter;
        text-align:left;
        font-size:14px;
        letter-spacing:0;
    }
    .ei150_493_147_494 { 
        transform: rotate(-0.000005008956538086317deg);
        width:277px;
        height:0px;
        position:absolute;
        left:66px;
        top:77.0000228881836px;
    }
    .i150_493_147_494 { 
        border:1px solid rgba(231.62500709295273, 231.62500709295273, 231.62500709295273, 1);
    }
    .e150_534 { 
        width:343px;
        height:77.0000228881836px;
        position:absolute;
        left:0px;
        top:132.00003051757812px;
    }
    .ei150_534_147_490 { 
        background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
        width:50px;
        height:50px;
        position:absolute;
        left:0px;
        top:0px;
        border-top-left-radius:8px;
        border-top-right-radius:8px;
        border-bottom-left-radius:8px;
        border-bottom-right-radius:8px;
    }
    .ei150_534_147_491 { 
        color:rgba(0, 0, 0, 1);
        width:122px;
        height:19px;
        position:absolute;
        left:66px;
        top:0px;
        font-family:Inter;
        text-align:left;
        font-size:16px;
        letter-spacing:0;
    }
    .ei150_534_147_493 { 
        color:rgba(189.07519429922104, 189.07519429922104, 189.07519429922104, 1);
        position:absolute;
        left:343px;
        top:2px;
        font-family:Inter;
        text-align:right;
        font-size:14px;
        letter-spacing:0;
    }
    .ei150_534_147_492 { 
        color:rgba(0, 0, 0, 1);
        width:269px;
        height:17px;
        position:absolute;
        left:66px;
        top:27px;
        font-family:Inter;
        text-align:left;
        font-size:14px;
        letter-spacing:0;
    }
    .ei150_534_147_494 { 
        transform: rotate(-0.000005008956538086317deg);
        width:277px;
        height:0px;
        position:absolute;
        left:66px;
        top:77.0000228881836px;
    }
    .i150_534_147_494 { 
        border:1px solid rgba(231.62500709295273, 231.62500709295273, 231.62500709295273, 1);
    }
    .e150_540 { 
        width:343px;
        height:77.0000228881836px;
        position:absolute;
        left:0px;
        top:264.00006103515625px;
    }
    .ei150_540_147_490 { 
        background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
        width:50px;
        height:50px;
        position:absolute;
        left:0px;
        top:0px;
        border-top-left-radius:8px;
        border-top-right-radius:8px;
        border-bottom-left-radius:8px;
        border-bottom-right-radius:8px;
    }
    .ei150_540_147_491 { 
        color:rgba(0, 0, 0, 1);
        width:97px;
        height:19px;
        position:absolute;
        left:66px;
        top:0px;
        font-family:Inter;
        text-align:left;
        font-size:16px;
        letter-spacing:0;
    }
    .ei150_540_147_493 { 
        color:rgba(189.07519429922104, 189.07519429922104, 189.07519429922104, 1);
        position:absolute;
        left:343px;
        top:2px;
        font-family:Inter;
        text-align:right;
        font-size:14px;
        letter-spacing:0;
    }
    .ei150_540_147_492 { 
        color:rgba(0, 0, 0, 1);
        width:269px;
        height:17px;
        position:absolute;
        left:66px;
        top:27px;
        font-family:Inter;
        text-align:left;
        font-size:14px;
        letter-spacing:0;
    }
    .ei150_540_147_494 { 
        transform: rotate(-0.000005008956538086317deg);
        width:277px;
        height:0px;
        position:absolute;
        left:66px;
        top:77.0000228881836px;
    }
    .i150_540_147_494 { 
        border:1px solid rgba(231.62500709295273, 231.62500709295273, 231.62500709295273, 1);
    }
    .e150_546 { 
        width:343px;
        height:77.0000228881836px;
        position:absolute;
        left:0px;
        top:396.0000915527344px;
    }
    .ei150_546_147_490 { 
        background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
        width:50px;
        height:50px;
        position:absolute;
        left:0px;
        top:0px;
        border-top-left-radius:8px;
        border-top-right-radius:8px;
        border-bottom-left-radius:8px;
        border-bottom-right-radius:8px;
    }
    .ei150_546_147_491 { 
        color:rgba(0, 0, 0, 1);
        width:110px;
        height:19px;
        position:absolute;
        left:66px;
        top:0px;
        font-family:Inter;
        text-align:left;
        font-size:16px;
        letter-spacing:0;
    }
    .ei150_546_147_493 { 
        color:rgba(189.07519429922104, 189.07519429922104, 189.07519429922104, 1);
        position:absolute;
        left:343px;
        top:2px;
        font-family:Inter;
        text-align:right;
        font-size:14px;
        letter-spacing:0;
    }
    .ei150_546_147_492 { 
        color:rgba(0, 0, 0, 1);
        width:269px;
        height:17px;
        position:absolute;
        left:66px;
        top:27px;
        font-family:Inter;
        text-align:left;
        font-size:14px;
        letter-spacing:0;
    }
    .ei150_546_147_494 { 
        transform: rotate(-0.000005008956538086317deg);
        width:277px;
        height:0px;
        position:absolute;
        left:66px;
        top:77.0000228881836px;
    }
    .i150_546_147_494 { 
        border:1px solid rgba(231.62500709295273, 231.62500709295273, 231.62500709295273, 1);
    }
    .e150_668 { 
        width:375px;
        height:78.01173400878906px;
        position:absolute;
        left:0px;
        top:734px;
    }
    .ei150_668_466_1091 { 
        background-color:rgba(0, 74.0000031888485, 173.00000488758087, 1);
        width:189px;
        height:78px;
        position:absolute;
        left:0px;
        top:-0.4882621765136719px;
    }
    .ei150_668_466_1132 { 
        background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
        width:189px;
        height:78px;
        position:absolute;
        left:189px;
        top:-0.4882621765136719px;
    }
    .ei150_668_385_1350 { 
        width:37px;
        height:36px;
        position:absolute;
        left:69px;
        top:20.511737823486328px;
        border-top-left-radius:12px;
        border-top-right-radius:12px;
        border-bottom-left-radius:12px;
        border-bottom-right-radius:12px;
        background-image:url(../img/home_fill0_wght400_grad0_opsz48_1.png);
        background-repeat:no-repeat;
        background-size:cover;
    }
    .ei150_668_385_1351 { 
        width:34px;
        height:31px;
        position:absolute;
        left:269px;
        top:25.511737823486328px;
        background-image:url(../img/person_fill0_wght400_grad0_opsz48_1.png);
        background-repeat:no-repeat;
        background-size:cover;
    }
    .e258_897 { 
        color:rgba(183.00000429153442, 207.00000286102295, 255, 1);
        width:195px;
        height:49px;
        position:absolute;
        left:94px;
        top:49px;
        font-family:Inter;
        text-align:center;
        font-size:32px;
        letter-spacing:0;
    }
    .e307_909 { 
        transform: rotate(179.99999499104388deg);
        width:28.999998092651367px;
        height:32.000003814697266px;
        position:absolute;
        left:45px;
        top:83px;
        background-image:url(../img/arrow_1.png);
        background-repeat:no-repeat;
        background-size:cover;
    }
}